.navb ul{display: flex;
list-style: none;
margin-top: 30px;
}

.navb li{margin-left: 20px;
right: 20px
;}
.navb{display: flex;
    position: sticky;
    justify-content: space-between;
    top:0px;
    background-color: white;
}
#abtus{color:lightseagreen;
text-decoration: none;}

.nne{color: grey;
text-decoration: none;

}
.nne:hover{color: lightseagreen;}
.navb img{margin: 20px;}
.intr img{display: block;
margin: auto;
margin-top: 30px;}
.ttre h1{display: flex;
justify-content: center;
color: lightseagreen;
font-weight: lighter;
}
.ktba {display: flex;
justify-content: center;
font-size: larger;
padding: 30px 150px;
margin: 20px;}

.perp{display: flex;
justify-content: space-around;
padding: 20px 400px;}
.hospital{border: 3px solid midnightblue;
background-color:midnightblue;
font-size:x-large;
color: white;}
.hospital select{background-color: midnightblue;
border: none;
text-decoration: underline;
color: white;}
.patient{border: 3px solid lightseagreen;
    background-color:lightseagreen;
    font-size:x-large;
    color: white;}
.medecin{border: 3px solid rgb(0, 174, 255);
    background-color:rgb(0, 174, 255);
    font-size:x-large;
    color: white;
margin: 0px 30px;}
.medecin select{background-color:rgb(0, 174, 255);
    border: none;
    text-decoration: underline;
    color: white;}
.patient select{background-color:lightseagreen;
    border: none;
    text-decoration: underline;
    color: white;}
.medecin:hover{filter: brightness(1.13);}
.patient:hover{filter: brightness(1.13);}
.hospital:hover{filter: brightness(1.13);}
.last p{color: lightseagreen;}
.last{display: flex;
margin: 40px;
justify-content: space-around;
margin-left: 300px
;}
.lastp{display: flex;
flex-wrap: wrap;

}
.lastp p{filter: brightness(0.6);
margin: 20px;}
.lastp p:hover{filter:brightness(1)}
.last p{font-size: larger}